#head {
  font-family: fantasy;
  text-align: center;
  background-color: pink;
  margin: 15px;
  padding: 24px;
  border: 20px;
  font-size: 42px;
}
.sidebar {
  font-family: sans-serif;
  font-weight: lighter;
  padding: 40px;
  background-color: lightgrey;
}
#info {
  color: blue;
}
